.Wrap {
    padding-top: 7%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    margin-right: 10%;
}

.Container {
    width: 500px;
    height: 700px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: white;
}

.ButtonClose {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-top: 15px;
    border: 0px;
    background-color: transparent;
}

.Title {
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.Input1 {
    width: 97%;
    height: 45px;
    margin: 0px;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border-width: 1px;
    border-bottom: 0px;
    border-color: rgba(128, 128, 128, 0.322);
}

.Input2 {
    width: 97%;
    height: 45px;
    margin: 0px;
    align-items: center;
    border-width: 1px;
    border-radius: 0px 0px 10px 10px;
    border-color: rgba(128, 128, 128, 0.322);
}

.Kid {
    font-size: 11px;
}

.ButtonLogin {
    width: 97%;
    height: 40px;
    border: transparent;
    border-radius: 5px;
    margin: 10px 5px;
    color: white;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(255, 37, 37, 1) 78%, rgba(252, 176, 69, 1) 100%);
}

.ButtonSignUp {
    width: 97%;
    height: 40px;
    border: transparent;
    border-radius: 5px;
    margin: 10px 5px;
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(255, 37, 37, 1) 78%, rgba(252, 176, 69, 1) 100%);
}
